@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'DMSans_Light';
  src: url('../public/fonts/DMSans_36pt-Light.ttf');
}

@font-face {
  font-family: 'DMSans_Regular';
  src: url('../public/fonts/DMSans_36pt-Regular.ttf');
}

@font-face {
  font-family: 'DMSans_SemiBold';
  src: url('../public/fonts/DMSans_36pt-SemiBold.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DMSans_SemiBold';
}

span, p, div, small {
  font-family: 'DMSans_Regular';
}

@theme {
  --color-background: #0b1020;
  --color-surface: #151530;
  --color-border: #3b2a5f;
  --color-primary: #7c3aed;
  --color-accent: #ec4899;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-border: #e2e8f0;
  --color-primary: #8b5cf6;
  --color-accent: #d946ef;
}

.dark {
  --color-background: #09090f;
  --color-surface: #14141f;
  --color-border: #31254a;
  --color-primary: #8b5cf6;
  --color-accent: #d946ef;
}
